.about {
  width: calc(100% - 60px);
  margin: 0 30px;
  padding-top: 140px;
  padding-bottom: 150px;
}

.about__slogan {
  font-size: 50px;
  margin-bottom: 60px;

  p {
    margin: 0;
    font-size: 25px;
    color: #777;
  }
}

.about__description {
  margin: 0 60px 140px;

  img {
    margin-bottom: 60px;
  }

  strong {
    display: block;
    font-size: 40px;
    color: #1d1d1d;
  }

  p:not(:first-of-type) {
    font-size: 30px;
    margin: 0;
  }
}

.about__stats {
  font-size: 30px;
  color: #777;
  margin: 0;
  margin-bottom: 45px;
}

.about__offer {
  color: #191919;
  padding-right: 20px;

  strong {
    display: inline-block;
    font-size: 50px;
    margin-bottom: 60px;
  }

  p {
    font-size: 30px;
    margin: 0;
  }

  button {
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #282828;
    color: #fff;
    font-size: 50px;
    margin-top: 60px;
  }
}
