.equipment {
  text-align: center;
  padding-top: 140px;
}

.equipment__title {
  font-size: 50px;

}

.equipment__description {
  font-size: 30px;
  color: #777;
  width: 660px;
  margin: 35px auto 0;
}
