.index-main {
  background-color: #f3f2f2;
}

.index-main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #e5e5e5;
  width: calc(100% - 60px);
  padding: 0 30px;
  font-size: 30px;

  a {
    text-decoration: none;
    color: #7f7f7f;
  }
}
