.main-header {
  display: flex;
  min-height: 100px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #e5e5e5;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.main-header__menu {
  background-color: #fda11c;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__right-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 225px;

  a {
    display: block;
    height: auto;
  }
}

.main-header__shopping-cart {
  text-decoration: none;
  height: 75px;

  div {
    color: #fda11c;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    height: 20px;
  }
}
