.main-footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 40px 0;

  p {
    font-size: 40px;
    margin: 0;
  }
}

.main-footer__wrapper {
  padding: 0 50px;
  text-align: left;
}

.main-footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.main-footer__slogan {
  display: inline-block;
  font-size: 50px;
  margin-left: 25px;

  p {
    color: #777;
    font-size: 30px;
    margin: 0;
  }
}

@media (min-width: @mid-size) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px;

    p {
      font-size: 18px;
    }
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    box-sizing: border-box;

    >p {
      margin-right: 10px;
    }
  }

  .main-footer__logo {
      margin-bottom: 0;

      img {
        width: 40px;
      }
    }

  .main-footer__slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    padding-top: 5px;

    strong {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }
}
