.sale-offer {
  background-color: #fff;
  border: 5px solid #faad3d;
  min-height: 470px;
  padding: 80px 60px 65px;
  width: calc(100% - 60px);
  margin: 30px;
  box-sizing: border-box;

  img {
    margin-bottom: 20px;
  }

  p {
    font-size: 25px;
    margin-bottom: 20px;
  }

  strong {
    font-size: 50px;
  }

  a {
    display: block;
    text-decoration: none;
    color: #faad3d;
    font-size: 30px;
    margin-top: 50px;
  }
}
