.target-offer {
  display: none;
}

@media(min-width: @mid-size) {
  .target-offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 19.6%;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 480px;

    strong {
      display: inline-block;
      color: #ffaf2d;
      margin: 10px;
      font-size: 20px;
    }
  }

  .target-offer__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: #303030;
      min-height: 44px;
      width: 100%;
    }
  }
}

@media(min-width: 1670px) {
  .target-offer__list li {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .target-offer strong {
    margin: 30px 30px 10px;
  }
}

@media(min-width: 1920px) {
  .target-offer strong {
    font-size: 24px;
  }
}
