.wrapper {
  width: calc(100% - 60px);
  padding: 0 30px;
  overflow: hidden;
  position: relative;
  max-width: 1860px;
  text-align: center;
}

@media (min-width: @mid-size) {
  .wrapper {
    width: 81%;
    margin: 0 9.5%;
  }
}

@media (min-width: @max-size) {
  .wrapper {
    padding: 0 calc(40px + (100% - 1300px) / 2);
  }
}
